* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3C2712;
    margin: 0;
    padding: 0;
}


.container {
    background-color: #f2ebd8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 50px auto; /* يخلّيها في النص وتحت النافبار */
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #555;
}

input, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"] {
    background-color: #3C2712;
}

button[type="submit"]:hover {
    background-color: #6c4722;
}

button.delete-btn {
    background-color: #f44336;
}

button.delete-btn:hover {
    background-color: #b70704;
}


form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
