*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* CSS3*/ 
}

body{
    background-color: #f8f8f8;
    font-family: Poppins;
}
input {
    /* border: none; */
    outline: none; /* Removes the focus outline */
}

.section{
    background-color: white;
    width: 60%;
    margin: 45px auto;
    border-radius: 20px;
    height: 600px;
    position: relative;
}
.float-fix{
    /* overflow: hidden; */
    clear: both;
}
.title{
    font-size: 37px;
}
.inner-section{
    padding: 30px 100px;
    padding-right:0;
    width: 60%;
    float: left;
    position: absolute;
}


.element{
    width: 50%;
    /* float: left; */
    margin-top: 30px;
    margin-left: 10px;
    padding : 5px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}
.inner-elem{
    border: none;
    margin-left:5px;
}

.select-btn{
    margin-top: 35px;
    /* text-align: center; */
    /* margin-left: 20px; */
}
.admin{
    /* margin-right: 20px; */
    padding-right: 20px;
}
.user{
    padding-right: 20px;
}
.register-btn{
    padding: 20px 40px;
    margin-top: 50px;
    border-radius: 5px;
    border-style : none;
    background-color: #6dabe4;
    color: white;
    cursor: pointer;
    /* transition: background-color 0.5s; */

}
.register-btn:hover{
    background-color: #4a8dc2;
    
}
.img{
    position: absolute;
    top: 100px;
    right: 0;
    /* bottom: 50%; */
    width: 40%;
}
.img-txt{
    
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
    padding-right:30px;
}
/* sign in */
.img.sign-in{
    position: absolute;
    top: 100px;
    left: 100px;
    /* bottom: 50%; */
    width: 40%;
}
.img-txt-sign-in{
    color: black;
    display: block;
    /* text-align: center; */
    text-decoration: none;
    padding-top: 50px;
    padding-left:30px;
}
.inner-section.Signin{
    padding: 30px 0px;
    padding-right:0;
    width: 60%;
    float: right;
    position: absolute;
    right:-120px;
    top: 50px;
    /* margin-left: 100px; */

}
.remember{
    /* display: block; */
    margin-top: 30px;
} 
/* Footer */
footer {
    background-color: #003363;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
}