/* Nav */
nav{
    width: 100%;
    height: 80px;  
    /* background-color: #000000; */
    text-transform: uppercase;
    background-color: black;
}
nav .nav-logo{
    width: 40%;
    height: 80px;
    float: left;
    /* text-align: center; */
    /* line-height: 80px; */

}
nav .nav-logo a{
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
    line-height: 80px;
}
nav .nav-links{
    width: 50%;
    height: 80px;
    float: left;
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0;
}
nav .nav-links li{
    list-style: none;
    /* float: left; */
    text-align: right;
    /* margin-right: 20px; */
    display: inline-block;
    margin-left:20px;
}
.contact-nav{
    /* background-image: url('../images/hero-bg.jpg'); */
    background-size: cover; /*CSS3*/
    position: relative;
    background-attachment: fixed;
}
nav .nav-links li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding: 0px 15px;
    /* line-height: 80px; */
    /* margin : 0px 10px; */
    padding-top: 25px;

    display: block;
}
.search{
    padding-right: 22px;
    width: 100%;
    height: 20px;
    cursor: pointer;
    color:white;
}
.nav-links li> a:after{
    content : '';
    display: block;
    width: 0;
    height: 3px;
    
    background-color: white;
}

.nav-links li>a.active:after{
    content : '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
}
.nav-links li> a:hover:after{
    width: 100%;
    transition: width 0.5s;
}
.sign-in-btn{
    padding: 12px 40px;
    margin-top: 20px;

    border-radius: 5px;
    border-style : none;
    background-color: #6dabe4;
    color: white;
    cursor: pointer;
    /* transition: background-color 0.5s; */
}

.sign-in-btn:hover{
    background-color: #4a8dc2;   
}   